/* general */
*{
  margin: 0;
  padding: 0;
}
/* header */
.logo{
  background-color: rgb(078, 160, 255);
  background-image: url(../img/pattern.png);
  height: 200px;
  position:relative
}

.logo img {
  width: 400px;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

/* main */
main{
  margin-left: 10px;
  margin-top: 10px;
}

section{
  margin-bottom: 20px;
}

.titolo span{
  color: grey;
  font-size: 0.8rem;
  font-weight: bold;
}

.titolo .autore {
  color: rgb(078, 160, 255);
}

.info-fotos{
  margin-bottom: 20px;
}
.info-fotos span{
  color: black;
  font-weight: 400;
}
.list{
  margin-left: 15px;
}