/* general */
*{
  margin: 0;
  padding: 0;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
/* header */
header{
  background-color: rgb(078, 160, 255);
  background-image: url(../../img/pattern.png);
  height: 150px;

}

.logo img {
  width: 300px;
  margin-left: 10px;
  margin-top: 75px;
}

/* main */
main{
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

section{
  margin-bottom: 20px;
}
/* section titolo */
.top p{
  color: grey;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.top .autore {
  color: rgb(078, 160, 255);
}
.giallo{
  background-color: yellow;
}

.info-fotos{
  margin-bottom: 20px;
  color: black;
  font-weight: 400;
}
/* section text */

/* section list */
.list{
  margin-left: 15px;
}
/* section table */
table{
  border-collapse: collapse;
  width: 100%;
}
.big{
  width: 60%;
}
.small{
  width: 20%;
}
thead{
  background-color: rgb(035, 169, 229);
  color: white;
  text-align: left;

}
.blue{
  background-color: rgb(177, 229, 242);
}

/* interesi */
.interesi{
  color: gray;
}
.image{  
  width: 290px;
  height: 190px;
  background-size: cover;
  margin-bottom: 20px;
  padding-top: 20px ;
  padding-left: 20px;
  color: white;
}
.monitor{
  background-image: url(../../img/monitor.jpg);
}
.graph{
  background-image:url(../../img/graph.jpg);
}
